.vscode
.env
.DS_Store
/frontend/node_modules
/backend/.venv
/web/.next
*node_modules
/EvoAGI/backend

backend/fastembed_cache

backend/poetry.lock

docker/push_to_dockerhub.sh
docker/build_images.sh
.vscode/settings.json
